<div id="container">	
  <div id="content">
      <h3>New Announcement</h3>
      <%= form_for(@announcement) do |f| %>
        <%= f.hidden_field :year, :value => 2012 %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, :class=>"required input_field" %>
        </div>
        <div class="field">
          <%= f.label :text %>
          <%= f.text_area :text, :size => 30, :class=>"required input_field" %>
        </div>
        <div class="actions">
          <%= f.submit "Save" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'admin/side' %>
