%h3 Please reset your password
- flash.each do |_, value|
  #error_explanation
    %ul
      %li= value

%br
= form_tag '/password_update' do
  = label_tag 'Password'
  = password_field :user, :password
  %br
  = label_tag 'And again'
  = password_field :user, :password_confirmation
  %br
  = submit_tag 'Update password'

