<div id="container">	
  <div id="content">
    <h2>Registrations</h2>
    <% flash.each do |key, value| %>
      <div  id="error_explanation">
        <ul>
          <li><%= value %></li>
        </ul>
      </div>
    <% end %>
    <ul>
      <table cellspacing="5px" >
          <tr>
            <td><b>Name<b></td>
            <td><b>Email</b></td>
            <td><b>Phone</b></td>
            <td><b>Payment</b></td>
            <td><b>Date Registered</b></td>
          </tr>
          <% @registrations.each do |reg| %>
            <tr>
              <td height = "50"><%= reg.name %></td>
              <td><%= reg.email %>      </td>
              <td><%= reg.home_phone %> </td>
              <!--
              <td>Address 1: <%= reg.address_1 %></td>
              <td>Address 2: <%= reg.address_2 %></td>
              <td>City: <%= reg.city %></td>
              <td>State: <%= reg.state %></td>
              <td>Zip: <%= reg.zip %></td>
              !-->
              <td>
                <% if reg.paid_date.nil? then %>
                    <% puts reg.id %>
                    Not Received (<%= link_to "Mark as Paid", :action => "confirm_payment", :id => reg %>)
                <% else %>
                  Received <%= reg.paid_date.strftime '%m/%d/%Y' %> <br/>
                <% end %>
              </td>
              <td>
                  <%= reg.created_at.strftime '%m/%d/%Y' %> <br/>
              </td>
            </tr>
        <% end %>
      </table>
    </ul>
  </div>
</div>
