<div id="container">	
  <div id="content">
    <h2>Registrations</h2>
    <% flash.each do |key, value| %>
      <div  id="error_explanation">
        <ul>
          <li><%= value %></li>
        </ul>
      </div>
    <% end %>
    <ul>
      <table cellspacing="3px" >
          <tr>
            <td></td>
            <td><b>Name<b></td>
            <td><b>Email</b></td>
            <td><b>Payment Received</b></td>
            <td><b>Date Registered</b></td>
            <td><b></b></td>
          </tr>
          <% @registrations.each_with_index do |reg, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td height = "25">
                <%= link_to reg.name, registration_path(reg) %>
              </td>
              <td><%= reg.email %>      </td>
              <td>
                <% if reg.paid_date.nil? then %>
                    <% puts reg.id %>
                    <%= link_to "Mark as Paid", :confim => "Are you sure?", :action => "confirm_payment", :id => reg %>
                <% else %>
                  <%= reg.paid_date.strftime '%m/%d/%Y' %> <br/>
                <% end %>
              </td>
              <td>
                  <%= reg.created_at.strftime '%m/%d/%Y' %> <br/>
              </td>
              <td>
                <%= link_to 'Destroy', reg, :confirm => "Are you sure?", :method => :delete, :id => "deleteReg_#{reg.id}" %>
              </td>
            </tr>
        <% end %>
      </table>
    </ul>
  </div>
</div>
<%= render 'admin/side' %>
