<h3>Register Now</h3>
<h3>(Website and registration under construction)</h3>
<p>Fill out the registration below to secure your spot for the upcoming summit.  Please note, your spot will
not be saved until payment has been received.</p>
<hr>
<div id="registration_form">
  <%= form_for(@registration) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :home_phone %>
      <%= f.text_field :home_phone, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :cell_phone %>
      <%= f.text_field :cell_phone, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :address_1 %>
      <%= f.text_field :address_1, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :address_2 %>
      <%= f.text_field :address_2, :class=>"input_field" %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.select :state, states_array, {:include_blank => true}, :class=>"required input_field" %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class=>"required input_field" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
            <div class="cleaner"></div>
