<h3>Register Now</h3>
<h3>(Website and registration under construction)</h3>
<p>Fill out the registration below to secure your spot for the upcoming summit.  Please note, your spot will
not be saved until payment has been received.</p>
<hr>
<div id="registration_form">
  <%= simple_form_for(@registration) do |f| %>
  <p>
    <div class="left">
    <%= f.input :name, :as => :string, :label=> 'First Name'%>
    </div>
    <div class="right">
    <%= f.input :last_name, :as => :string %>
    </div>
    <div class="left">
    <%= f.input :email, :as => :email %>
    </div
    <div class="right">
    <%= f.input :credentials, :as => :string %>
    </div>
    <div class="left">
    <%= f.input :home_phone, :as => :tel, :label => 'Home'  %>
    </div>
    <div class="right">
    <%= f.input :cell_phone, :as => :tel, :label => 'Cell' %>
    </div>
    <div class="left">
    <td><%= f.input :address_1, :as => :string %>
    </div>
    <div class="right">
    <%= f.input :address_2, :as => :string %>
    </div>
    <div class="left">
    <%= f.input :city, :as => :string %>
    </div>
    <div class="right"><%= f.input :state, :collection => states_array%>
    </div>
    <div class="left">
    <%= f.input :zip, :as => :string %>
    <br><%= f.button :submit, 'Submit' %>
    </div>
  <% end %>
</div>
<div class="cleaner"></div>



