<h3>Register Now</h3>
<h3>(Website and registration under construction)</h3>
<p>Fill out the registration below to secure your spot for the upcoming summit.  Please note, your spot will
not be saved until payment has been received.</p>
<hr>
<div id="registration_form">
  <%= simple_form_for(@registration) do |f| %>
    <%= f.input :name, :as => :string %>
    <%= f.input :email, :as => :email %>
    <%= f.input :home_phone, :as => :tel, :label => 'Home'  %>
    <%= f.input :cell_phone, :as => :tel, :label => 'Cell' %>
    <%= f.input :address_1, :as => :string %>
    <%= f.input :address_2, :as => :string %>
    <%= f.input :city, :as => :string %>
    <%= f.input :state, :collection => states_array%>
    <%= f.input :zip, :as => :string %>
    <%= f.button :submit, 'Submit' %>
  <% end %>
</div>
<div class="cleaner"></div>



