<div class="header">
  <h3>Registration Form - <%= @registration.name %></h3>
</div>

<div class="content">
  <h6> Name</h6>
  <%= @registration.name %>
  <h6> Email</h6>
  <%= @registration.email %>
  <h6> Home Phone</h6>
  <%= @registration.home_phone %>
  <h6> Cell Phone</h6>
  <%= @registration.cell_phone %>
  <h6> Address 1</h6>
  <%= @registration.address_1 %>
  <h6> Address 2</h6>
  <%= @registration.address_2 %>
  <h6> City, State</h6>
  <%= @registration.city + ", " + @registration.state%>
  <h6> Zip</h6>
  <%= @registration.zip %>
</div>