<div id="container">	
  <div id="content">
  
    <h3>Registration Successful</h3>
    <p>Make sure to check your email for instruction on next steps. We look forward to seeing you at the conference.</p>
    Name: <%= @registration.name %></br>
    Email: <%= @registration.email %></br>
    Home Phone: <%= @registration.home_phone %></br>
    Address 1: <%= @registration.address_1 %></br>
    Address 2: <%= @registration.address_2 %></br>
    City, State: <%= @registration.city + ", " + @registration.state%></br>
    Zip: <%= @registration.zip %></br>
  
  </div>
</div>
