<div id="container">	
  <div id="content">
    <h2>Baltimore Attractions</h2>
    <ul> 
      <li><%= link_to "Inner Harbor", 'http://baltimore.org/about-baltimore/inner-harbor', :target=> '_blank'  %></li>
      <li><%= link_to "Baltimore Aquarium", 'http://www.aqua.org', :target=> '_blank' %></li>
      <li><%= link_to "Science Center", 'http://www.mdsci.org', :target=> '_blank' %></li>
      <li><%= link_to "Little Italy", 'http://www.littleitalymd.com/main_page.htm', :target=> '_blank' %></li>
      <li><%= link_to "Baltimore Dining and Nightlife", 'http://baltimore.org/dining-and-nightlife', :target=> '_blank' %></li>
    </ul>
  </div>
</div>
