<!-- <section class="sidebar">
  Highlight one <br/>
  other thing <br/>
  is this a sidebar or  <br/>
  would it be a floater? <br/>
</section> -->
<ul id="center_list">
  <li>
    <% img = image_tag "rss-icon-large.png", :alt=> "RSS" %>
    <%= link_to img, conference_path  %>
    <br />
    <%= link_to "2011 Conference Details", conference_path  %>
  </li>
  <li>
    <% img = image_tag "relevance-logo-large.png", :alt=> "RSS" %>
    <%= link_to img, register_path  %>
    <br />
    <%= link_to "Register Now", register_path  %>
  </li>
  <li>
    <% img = image_tag "getting-started-with-grails-v2-large.jpg", :alt=> "RSS" %>
    <%= link_to img, info_path  %>
    <br />
    <%= link_to "Area Info", info_path  %>
  </li>
</ul>


