<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :year, :value => 2012 %>
  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :message %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
