<div id="container">
  <div id="content">
    <h1>Listing questionaires</h1>

    <table cellspacing="3px">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @questionaires.each_with_index do |questionaire, index| %>
      <tr>
        <td height="25"><%= index+1 %></td>
        <td><%= questionaire.name %></td>
        <td><%= questionaire.email %></td>
        <td>
            <%= questionaire.created_at.strftime '%m/%d/%Y' %> <br/>
        </td>
        <td><%= link_to 'Show', questionaire %></td>
        <td><%= link_to 'Edit', edit_questionaire_path(questionaire) %></td>
        <td><%= link_to 'Destroy', questionaire, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Questionaire', new_questionaire_path %>
  </div>
</div>
<%= render 'admin/side' %>
