<div id="container">	
  <div id="content">
    <h2>2012 Lecture Materials</h2>
    <b>Thursday, September 20th</b>
    <ul>
      <li>
        <%= dl_link "Public Policy Impacting Advanced Practice", 'public_policy_berkowitz.ppt' %>
      </li>
      <li>
        <%= dl_link "Left Ventricular Assist Device/LVAD Service ", 'ventricular_assist.ppt' %>
      </li>
      <li>
        <%= dl_link "NP/PA Services in Neuro Surgery – K. Strybing", 'neurosurgery_strybing.pptx' %>
      </li>
      <li>
        <%= dl_link "NP/PA Services in Neuro Surgery –S. Wollard", 'neurosurgery_wollard.pptx' %>
      </li>
      <li>
        <%= dl_link "Media, Image, and Marketing", 'mason_media.pptx' %>
      </li>
      <li>
        <%= dl_link "Media, Image, and Marketing Message (Triangle)", 'masson_triangle.pdf' %>
      </li>
    </ul>
    <b>Friday, September 21th</b>
    <ul>
      <li>
        <%= dl_link 'Interprofessional Education', 'interprofessional_education.ppt' %>
      </li>
      <li>
        <%= dl_link 'Maximizing Scope: Measuring Success of the Acute Care Nurse Practitioner', 'maximizing_scope.pptx' %>
      </li>
      <li>
        <%= dl_link 'Professional Advancement Model/Clinical Ladder for Advanced Practice Providers', 'clinical_ladder.pdf' %>
      </li>
      <li>
        <%= dl_link 'Building Administrative Infrastructure Around Advanced Practice', 'administrative_infrastructure.pdf' %>
      </li>
      <li>
        <%= dl_link 'Advanced Practice Onboarding and General Orientation', 'onboarding_and_orientation.pdf' %>
      </li>
      <li>
        <%= dl_link 'Billing and Productivity', 'billing_and_productivity.pptx' %>
      </li>
    </ul>
    <p>
      <%#= link_to "Logout", materials_logout_path %>
    </p>
  </div>
</div>
<%= render 'layouts/side' %>
