<div id="footer">
    <div id="footer-area">

        <div id="footer-outer-block">
                <div id="first" class="footer-segment">
                        <h3>Sponsors</h3>
                            <ul>
                                <li><%= link_to "Johns Hopkins", 'http://www.hopkinsmedicine.org/' %></li>
                                <li><%= link_to "University of Maryland", 'http://www.umm.edu/np' %></li>
                            </ul>
                </div><!-- end of #first footer segment -->

                <div id="second" class="footer-segment">
                        <h3>Baltimore Attractions</h3>
                            <ul>
                              <li><%= link_to "Inner Harbor", 'http://baltimore.org/about-baltimore/inner-harbor' %></li>
                              <li><%= link_to "Baltimore Aquarium", 'http://www.aqua.org' %></li>
                              <li><%= link_to "Science Center", 'http://www.mdsci.org' %></li>
                              <li><%= link_to "Little Italy", 'http://www.littleitalymd.com/main_page.htm' %></li>
                              <li><%= link_to "Baltimore Dining and Nightlife", 'http://baltimore.org/dining-and-nightlife' %></li>
                            </ul>
                </div><!-- end of #second footer segment -->

                <div id="third" class="footer-segment">
                        <h3>Other Links</h3>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                </div><!-- end of #third footer segment -->
                
                <!--<div id="fourth" class="footer-segment">
                        <h3>Recent Testimonial</h3>
                            <p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                </div> end of #fourth footer segment -->

        </div><!-- end of #footer-outer-block -->
    </div><!-- end of #footer-area -->
</div>

  <%= debug(params) if Rails.env.development? %>
