<div class="nav"><!-- top nav -->
  <div class="menu">
    <ul>
	    <li><%= link_to "Home", root_path %></li>
 	    <li><%= link_to "Planning Committee", planning_path %></li>
	    <li><%= link_to "Conference Details", conference_path %></li>
        <!--<ul>
	        <li>#<%= link_to "Sessions", sessions_path %></li>
	        <li>#<%= link_to "Speakers", speakers_path %></li>
	        <li>#<%= link_to "Mission", mission_path %></li>
	        <li>#<%= link_to "History", history_path %></li>
	      </ul>
          </li>-->
	    <li><%= link_to "Register", register_path %></li>
	    <li><%= link_to "Hotel and Travel", hotel_path %></li>
        <li>Baltimore Attractions
          <ul> 
            <li><%= link_to "Inner Harbor", 'http://baltimore.org/about-baltimore/inner-harbor', :target=> '_blank'  %></li>
            <li><%= link_to "Baltimore Aquarium", 'http://www.aqua.org', :target=> '_blank' %></li>
            <li><%= link_to "Science Center", 'http://www.mdsci.org', :target=> '_blank' %></li>
            <li><%= link_to "Little Italy", 'http://www.littleitalymd.com/main_page.htm', :target=> '_blank' %></li>
            <li><%= link_to "Baltimore Dining and Nightlife", 'http://baltimore.org/dining-and-nightlife', :target=> '_blank' %></li>
          </ul>
        </li>
    </ul>
  </div>
</div><!-- end of top nav -->
