<div class="nav"><!-- top nav -->
  <div class="menu">
    <ul>
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "FAQs", faq_path %></li>
	    <li><%= link_to "Program Details", program_path %></li>
	    <li><%= link_to "Hotel/Travel", hotel_path %></li>
	    <li><%= link_to "Planning Committee", planning_path %></li>
    </ul>
  </div>
</div><!-- end of top nav -->
