<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="keywords" content="acute care, johns hopkins, umd, nursing, martha kennedy" />
    <meta name="description" content="Acute Care Leadership Summit" />
    <%= stylesheet_link_tag 'styles.css' %>
    <%= stylesheet_link_tag 'print.css', :media=>'print' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/menu' %>
      <div id="main"><!-- #main content and sidebar area -->
        <div id="main_content">
          <%= yield %>
<%= render 'layouts/side' %> 
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <%= load_javascript %>
  </body>
</html>

